<h3>Reference</h3>
<p>ID: <%= @reference.id if @reference.id %></p>
<p>Number: <%= @reference.number if @reference.number %></p>
<p>Kind: <%= @reference.kind if @reference.kind %></p>
<p>Title: <%= @reference.title if @reference.title %></p>
<p>Author: <%= @reference.author if @reference.author %></p>
<p>Date: <%= @reference.pubdate if @reference.pubdate %></p>
<p>UserID: <%= @reference.userid if @reference.userid %></p>
